.sticky{
  position: sticky;
  top:10px;
  z-index: 100;
}



.res{
  max-width: 100%;
  height: auto;
}

.col-sm{
  padding-right: 0px;
}
.jumbotron{
  margin-top: 20px;
  background-image: url(https://i.pinimg.com/originals/14/33/f4/1433f453aafacca9a94194cbb27303ec.jpg););
  background-size:cover;
  background-position: center;
  filter: blur(0px);
  text-shadow: 0px 0px 6px black;
  color: white;
}

.rounded mr-2{
  max-width: 5%;
  max-height: 5%;
}

#toastimage {width: 16px;
height: 16px}

.fa-facebook-square:hover {
        color: #3b5998;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    }

.fa-instagram:hover {
  color: #E32E80;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.fa-twitter-square:hover {
  color: #52A8E6;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}



.fa-facebook-square{
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    }

.image {
  opacity: 1;
  display: block;
  width: 90%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.lastimage {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image:hover {
  opacity: 0.3;
}

.lastimage:hover {
  opacity: 0.3;
}

.middle:hover {
  opacity: 0.3;
}

.footer {
  text-align: center;
}

.list-inline li
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}

.social-icons .fa {
	font-size: 1.8em;
}

.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
}

.social-icons.icon-circle .fa{
	border-radius: 50%;
}


.social-icons .fa-facebook{
  background-color:#3C599F;
}

.social-icons .fa-instagram{
  background-color:#A1755C;
}

.social-icons .fa-twitter{
  background-color:#32CCFE;
}
