.res{
  max-width: 100%;
  height: auto;
}
.jumbotron{
  margin-top: 20px;
  background-image: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/05/22/13/gin-cocktails.jpg?w968h681);
  background-size:cover;
  background-position: center;
  filter: blur(0px);
  text-shadow: 0px 0px 6px black;
  color: white;
}

.rounded mr-2{
  max-width: 5%;
  max-height: 5%;
}
